section {
  margin: 2rem 0 1rem 0;
}

.mealPlan {
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  margin: 0 auto;
  min-height: 100vh;
  min-width: 86.4vw;
  background-color: white;
  padding-top: 85px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.mealPlan__header {
  padding-top: 20px;
}
.mealPlan__formSelectInput {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.mealPlannerSubmitButton {
  padding: 0.5rem 1rem;
  background-color: #3b5998;
  color: white;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.mealPlannerSubmitButton:hover {
  cursor: pointer;
  background-color: #8b9dc3;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

.meal {
  display: flex;
}

.mealArticle {
  min-width: 60.4vw;
  width: 60.4vw;
}
.mealArticle__img {
  width: 45%;
  margin: 0 auto;
}
.mealArticle__link {
  text-decoration: none;
  color: white;
}
.mealArticle__instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 25rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

a {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-content: center;
}

@media only screen and (max-width: 550px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

.instructionsParagraph {
  width: 50%;
  margin: 0 auto;
}

.recipeTitle {
  font-weight: bold;
}

.recipTitleLink {
  font-weight: bold;
  color: black;
}

.randomRecipe__Box {
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  margin: 0 auto;
  min-height: 100vh;
  min-width: 86.4vw;
  padding-top: 85px;
  background-color: white;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.randomRecipe__Header {
  padding-top: 20px;
}
.randomRecipe__Button {
  margin-bottom: 25px;
}
.randomRecipe__Card {
  width: 60.4vw;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  box-shadow: 1px 1px 20px -5px rgba(19, 2, 2, 0.5);
  padding-bottom: 10px;
}
.randomRecipe__TitleLink {
  font-weight: bold;
}
.randomRecipe__MetaImageBox {
  width: 60%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.randomRecipe__MetaImageBox img {
  width: 100%;
  transition: 0.5s all ease-in-out;
  border-radius: 2%;
}
.randomRecipe__MetaImageBox:hover img {
  transform: scale(1.5);
}
.randomRecipe__SummaryParagraph {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}
.randomRecipe__InstructionsParagraph {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  list-style: inside;
}
.randomRecipe__InstructionsParagraph ol {
  padding-left: 0rem;
}
.randomRecipe__IngredientsParagraph {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  list-style: none;
}
.randomRecipe__IngredientsParagraph ol {
  padding-left: 0rem;
}

.homeComponentHeader {
  margin-top: 85px;
}

.recipeLink :hover {
  color: aquamarine;
}

.ingredientsHeading {
  margin-top: 20px;
}

.homeDiv {
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  margin: 0 auto;
  min-height: 100vh;
  min-width: 86.4vw;
  background-color: white;
  padding-top: 85px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.homeDiv__homeHeaderImage {
  width: 75%;
  box-shadow: 8px 8px 10px black;
  margin-bottom: 75px;
}

.nav-link {
  color: orange;
}

.navBarLink {
  color: white !important;
}
.navBarLink:hover {
  border-bottom: 2px solid white;
  transition: 3000ms;
}

.form-select {
  width: 70% !important;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}/*# sourceMappingURL=index.css.map */