* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  margin: 2rem 0 1rem 0;
}

.mealPlan {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 86.4vw;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  padding: 15px;
  min-height: 100vh;
  background-color: white;
  margin-top: 85px;
}

input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: tan;
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: peru;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.meal {
  display: flex;
}

.mealArticle:hover {
  border: 2px solid gray;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 25rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  width: fit-content;
  align-content: center;
}

a:hover {
  cursor: pointer;
  background-color: peru;
}

@media only screen and (max-width: 550px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.summaryParagraph {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.randomRecipeButton {
  margin-bottom: 25px;
}

.randomMetaImage {
  width: 50%;
  margin: 0 auto;
}

.instructionsParagraph {
  width: 50%;
  margin: 0 auto;
}

.recipeTitle {
  font-weight: bold;
}

.recipTitleLink {
  font-weight: bold;
  color: black;
}

.mealPlanHeader {
  margin-top: 50px;
}

.randomRecipeHeader {
  margin-top: 85px;
}

.randomRecipeBox {
  max-width: 25rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  margin: 0 auto;
  min-height: 100vh;
  min-width: 86.4vw;
  background-color: white;
}

.homeComponentHeader {
  margin-top: 85px;
}

.homeHeaderImage {
  margin-top: 56px;
}

.recipeLink :hover {
  color: aquamarine;
}

.ingredientsHeading {
  margin-top: 20px;
}
